<div class ="jumbotron">
<h1>Welcome to CASS</h1>
<h3>Compliment as a Service</h3>
</div>

<h1> Introduction </h1>
<p>Inspired by FOAAS (F**k Off as a Service) I decided to create a service where
  you can send anyone a compliment</p>

<h2>Operations</h2>

<table>
  <tr>
    <th>Path</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>/nice/:from/:to </td>
    <td>Will return content of the form "You're a nice person :to - :from" </td>
  </tr>
  <tr>
    <td>/like/:from/:to </td>
    <td>Will return content of the form "I really like you :to - :from" </td>
  </tr>
  <tr>
    <td>/happy/:from/:to </td>
    <td>Will return content of the form ":to you're such as happy person - :from" </td>
  </tr>
</table>

